<form action="/Home/SetCookie" method="post">
    <label for="value">Value:</label>
    <input type="text" id="value" name="value">
    <label for="expiry">Expiry Date and Time:</label>
    <input type="datetime-local" id="expiry" name="expiry">
    <button type="submit">Set Cookie</button>
</form>
